@charset "utf-8";


a.ici {
	color: #e84a5f;
	transition: 0.4s;
}

main h1 {
	display: block;
	text-align: center;
	width: 20%;
	margin-left: auto;
    margin-right: 45%;
	margin-bottom: 4rem;
	margin-top: 10%;
	font-size: 5rem;
}

main h2 {
	display: block;
	text-align: center;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 2rem;
	margin-top: 3rem;
	font-size: 3rem;
	font-weight: 700;
}

main h3 {
	display: block;
	text-align: center;
	width: auto;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 2rem;
	margin-top: 3rem;
	font-size: 2.5rem;
	font-weight: 500;
}

main .grid {
	margin-top: 2rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	display: grid;
	justify-content: center;
	align-items: center;
	row-gap: 100px;
}

main .grid-item {
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
}

.course-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin-left: 10%;
  }
  
  .course {
	width: calc(20%);
	border-radius: 5%;
	margin-left: 9px;
	padding: 1rem;
	margin-bottom: 5%;
	transition: 0.5s;
}


  .course h2 {	
	margin-top: 10%;
	font-size: 30px;
  }

  .course p{
	margin-left:6%;
	color: rgba(240, 248, 255, 0);
	font-size: 165%;
	background-color: transparent;
  }
  
  .course img {
	margin-top:0;
	margin-left: 0;
	width: 100%;
	border-radius: 10%;
	height: 200px; /* or whatever height you want */
	object-fit: cover;
  }
  
  .description {
	display: none;
  }

    
  .course:hover  {
	text-align: center;
	background-color:#FF847C;
	color:wheat;
	border-radius: 10%;
	margin-top: -5%;
	transition: 0.5s;
  }

  
  .course:hover p{
	background-color: transparent;
	display:flex;
	color:wheat;
	text-align: center;
	border-radius: 6%;
  }


  
  @media (max-width:1200px) {
	.course {
		width: calc(25%);
		margin:auto;
		margin-top:5%;
		margin-bottom: -5%;

	}



	.course:hover  {
	
		margin-top:0px;
		transition: 0.5s;
	
	  }

	.course-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin:10%;

	  }

	  main h1 {

		margin-right: 50%;
		margin-bottom: 3rem;
		margin-top: 15%;

	}


	


	
}


@media (max-width:1000px) {
	.course {
		width: calc(35%);

	}

	
	main h1 {

		margin-right: 55%;
		margin-bottom: 3rem;
		margin-top: 25%;

	}

	

}



@media (max-width:690px) {
	.course {
		width: calc(50%);
		

	}
	
	main h1 {

		margin-right: 60%;
		margin-bottom: 3rem;
		margin-top: 30%;
		font-size: 4em;

	}
}























